@using Blog.Models

@model List<BlogEntry>

@{
    ViewData["Title"] = "Change Blog";
}

<h2>Change Blog</h2>
<hr />
    <div>
    @foreach (BlogEntry post in @Model)
        {
        <div class="card mb-4">
            <div class="card-body">
                @Html.Raw(@post.Content)
            </div>
            <div class="card-footer">
               @Html.ActionLink("Edit", "CreatorPage", new {Id = post.Id}, new {@class="btn btn-ism btn-secondary"})
            </div>
        </div>
        }
    </div>


  @*  Blog tutorial reference: https://www.youtube.com/watch?v=sWrCTga0_lQ*@